//
// ===============================================

//	ORDER
// ===============================================
.order
	display: table
	width: 100%
	&.m-new
		.order-item-time
			background: #f5f7f7
	&.m-archive
		.order-item-time
			width: 215px
		.order-item-car
			width: 190px
			.order-item-car-item-model
				width: 140px
				+text-overflow
			.order-item-car-owner-name
				width: 100px
				+text-overflow
		.order-item-box
			width: 155px
		.order-item-tel
			width: 190px
		.order-item-info
			width: 257px
	.order-item
		// display: table-row
		display: table
		table-layout: fixed
		width: 100%
		height: 106px
		border-radius: 5px
		margin-top: 2px
		background: #fff
		transform: scaleY(1)
		&:first-child
			margin-top: 0
	.order-item
		& > div
			display: table-cell
			vertical-align: middle
	.order-item-tel
		width: 245px
		padding: 0 20px
		border-right: 2px solid #eff2f3
		.order-item-tel-number
			font-size: 24px
			color: $blue3
			+light
			.small
				font-size: 18px
		.order-item-tel-descr
			+osl
			color: #A0A4A5 
	.order-item-date
		width: 31px
		padding: 0 10px
		background: $blue2
		border-radius: 5px 0 0 5px
		color: #fff
		line-height: 1.2
		text-align: center
		.order-item-date-num
			font-size: 24px
			+light
		.order-item-date-mount
			font-size: 12px
			+light
	.order-item-time
		width: 105px
		height: 106px 
		background: url("../img/time-bg.png")
		+cover
		background-position: 50% top
		color: $blue2
		text-align: center
		&.m-interval
			.order-item-time-item
				display: inline-block
				vertical-align: middle
				margin-left: 20px
				&:first-child
					margin-left: 0
		.order-item-time-time
			font-size: 24px
		.order-item-time-note
			font-size: 12px
	.order-item-car
		width: 328px
		padding: 0 30px
		border-right: 2px solid #eff2f3
		.order-item-car-item
			position: relative
			.order-item-car-model
				font-size: 24px
				color: $blue3
				+bold
			.order-item-car-type
				font-size: 24px
				color: $blue3
				+light
			.order-add
				position: absolute
				top: 50%
				right: 0
				margin-top: -9px
		.order-item-car-owner
			.order-item-car-owner-name
				display: inline-block
				vertical-align: middle
				margin-right: 10px
				font-size: 15px
				color: $gray 
	.order-item-box
		width: 167px
		padding: 0 25px
		border-right: 2px solid #eff2f3
		.order-item-box-number
			font-size: 24px
			color: $blue3
			+bold
		.order-item-box-title
			+osl
			color: $gray 
	.order-item-info
		width: 393px
		padding: 0 30px
		+clr
		&.m-status
			width: 600px
			.order-item-info-tel-number
				color: $blue2 
		.order-item-info-left
			float: left
		.order-item-info-right
			height: 46px
			line-height: 46px
			float: right
			.ico
				cursor: pointer
				margin-left: 30px
				transition: opacity 0.2s linear 0.2s
				&:first-child
					margin-left: 0
				&:hover
					transition: opacity 0.2s linear 0.2s
					opacity: 0.6
		.order-item-info-tel
			color: $blue3
			+light
			.order-item-info-tel-number
				font-size: 24px
				.small
					font-size: 18px
			.order-item-info-tel-descr
				font-size: 15px  
				color: #A0A4A5
				+osl
				&.m-elipsis
					width: 280px
					+text-overflow
			.order-item-info-tel-meta
				margin-right: 15px
				color: $blue3
				+light 
	.order-item-close
		width: 26px
		padding: 0 15px
		background: #eef1f1 
		background: linear-gradient(#eef1f1 0%, #f5f7f7 100%)
		text-align: center
		cursor: pointer
		&:hover
			background: #f5f7f7 
			background: linear-gradient(#eef1f1 0%, #eef1f1 100%)
	.order-item-succes
		width: 26px
		padding: 0 15px
		background: #1099b5 
		background: linear-gradient(#1099b5 0%, #15adc4 100%)
		text-align: center
		border-radius: 0 5px 5px 0
		cursor: pointer
		&:hover
			background: #15adc4 
			background: linear-gradient(#1098b5 0%, #1098b5 100%)
	.order-item-state
		width: 26px
		padding: 0 15px
		text-align: center
		border-radius: 0 5px 5px 0
		cursor: pointer
		position: relative
		&.m-ok
			background: #83d3e0
			opacity: 0.7
			transition: all 0.2s linear 0.2s
			&:hover
				background: #83d3e0
				opacity: 1
				transition: all 0.2s linear 0.2s
			&:before
				content: ""
				+s($s-ok)
				position: absolute
				// top: 50%
				left: 50%
				margin-top: -9px
				margin-left: -9px
		&.m-del
			background: #f09595
			opacity: 0.7
			transition: all 0.2s linear 0.2s
			&:hover
				background: #f09595
				opacity: 1 
				transition: all 0.2s linear 0.2s
			&:before
				content: ""
				+s($s-close-w)
				position: absolute
				// top: 50%
				left: 50%
				margin-top: -9px
				margin-left: -9px
	.order-add
		display: inline-block
		width: 24px
		height: 18px
		line-height: 16px
		border-radius: 9px
		background: $blue1
		text-align: center
		cursor: pointer
		transition: all 0.2s linear 0.2s
		&:hover
			background: $blue2
			transition: all 0.2s linear 0.2s
		.order-add-ico
			display: inline-block
			+s($s-plus)
			transition: all 0.3s ease
		&.is-active
			background: #15ADC4
			.order-add-ico
				transform: rotate(45deg)
				transition: all 0.3s ease

.star 
	.star-active, .star-unnactive, .star-select
		display: inline-block
		vertical-align: middle
		margin-left: 5px
		cursor: pointer
		transition: all 0.2s ease
		&:first-child
			margin-left: 0
		&:hover
			opacity: 0.8
			transition: all 0.2s ease
	.star-active
		+s($s-star-active)
	.star-unnactive
		+s($s-star-unnactive)
	.star-select
		+s($s-star-select)
	.star-summ
		display: inline-block
		height: 18px
		line-height: 18px
		border-radius: 9px
		padding: 0 7px
		margin-left: 6px
		background: #15ADC4 
		font-size: 10px
		+osl
		color: #FFF 

.status-list
	width: 100%
	margin-left: -50px
	position: absolute
	bottom: -48px
	font-size: 0
	text-align: center
	.status-list-item
		display: inline-block
		vertical-align: middle
		margin-left: 7px
		font-size: 14px
		&:first-child
			margin-left: 0
	.status-list-link
		display: inline-block
		height: 30px
		line-height: 30px
		padding: 0 13px
		background: #15ADC4 
		border-radius: 15px
		color: #FFF
		transition: opacity 0.2s linear 0.2s
		&:hover
			opacity: 0.8
			transition: opacity 0.2s linear 0.2s
		.status-list-link-descr
			margin-right: 5px
			+osl
		.status-list-link-num
			+osb

.tarif
	margin-bottom: 40px
	+clr
	.tarif-item
		float: left
		width: 25%
		height: 630px
		padding: 55px 55px 0
		border: 2px solid #ebeff0
		background: #FFF
		border-radius: 10px
		box-sizing: border-box
		text-align: center
		position: relative
		&:first-child
			margin-left: 0
		&.is-active
			background: url("../img/tarif-active.jpg")
			.tarif-meta
				display: block
				color: $lgray 
			.tarif-title, .tarif-price, .tarif-info-item
				color: #FFF 
			.rub
				+s($s-rub-w)
	.tarif-title
		font-size: 28px
		+normal
		color: $blue3
	.tarif-meta
		display: none
	.tarif-price
		width: 200px
		height: 68px
		position: absolute
		top: 200px
		left: 50%
		margin-left: -100px
		+light
		line-height: 1
		color: $blue2
		.tarif-price-summ 
			font-size: 48px
			span
				margin-top: 3px
				margin-right: 15px
				display: inline-block
				vertical-align: middle
		.tarif-price-meta
			font-size: 20px
	.tarif-info
		position: absolute
		bottom: 170px
		.tarif-info-item
			color: $gray 
			+osl
		.sumbol
			margin-right: 10px
			+os
			&.m-infinite
				font-size: 40px
			&.m-num
				font-size: 24px
		span
			vertical-align: middle
			display: inline-block
	.tarif-bottom
		width: 100%
		padding: 33px 35px
		margin: 0 -55px
		box-sizing: border-box
		background: #15ADC4
		border-radius: 0 0 10px 10px
		position: absolute
		bottom: 0
		.tarif-btn
			display: block
			padding: 15px 0
			border: 2px solid #8ad6e2
			+osl
			font-size: 16px
			transition: all 0.2s linear 0.2s
			border-radius: 5px
			&:hover
				transition: all 0.2s linear 0.2s
				background: #50BBCB
				border-color: #50bbcb 


.rub
	+s($s-rub)
	display: inline-block
	vertical-align: middle

.sexy-tooltip
	height: 57px
	line-height: 57px
	background: #d5e9ed

.grid
	margin-bottom: 40px
	.grid-row
		margin-bottom: 2px
		+clr
		&.m-first
			border-radius: 5px 5px 0 0
			overflow: hidden
		&.m-last
			border-radius: 0 0 5px 5px
			overflow: hidden
	.grid-cell
		width: 33.333%
		height: 370px
		padding: 0 30px
		float: left
		border-left: 2px solid #eff2f3
		background: #FFF 
		box-sizing: border-box
		text-align: center
		&:first-child
		 border-left: #000 
	.grid-content
		width: 100%
		height: 100%
		display: table
		.grid-content-in
			display: table-cell
			vertical-align: middle
.wash
	.wash-logo
		margin-bottom: 20px
		display: inline-block
		width: 90px
		height: 90px
		border-radius: 50%
		border: 10px solid #eef1f3
		+cover
	.wash-my-title
		margin-bottom: 10px
		color: $blue3
		font-size: 24px
		+normal
	.wash-stars
		margin-bottom: 50px

.wash-my-red
	display: inline-block
	padding: 7px 15px
	color: $gray
	+osl
	border: 2px solid #eceff1
	border-radius: 3px
	transition: all 0.2s linear 0.2s
	&:hover
		color: $gray
		background: #eceff1
		transition: all 0.2s linear 0.2s
		
.wash-red
	display: none
	&.is-active 
		display: block
		width: 142px
		margin: 0 auto 70px
		padding: 7px 5px
		border: 2px solid #eceff1
		border-radius: 3px
		font-size: 16px
		color: #9FA3A4
		+osl
		transition: all 0.2s linear 0.2s
	&:hover
		color: $gray
		background: #eceff1
		transition: all 0.2s linear 0.2s
.wash-my-save
	display: none
	padding: 7px 15px
	color: #fff
	+osl
	border: 2px solid #15adc4
	background: #15adc4 
	border-radius: 3px
	transition: all 0.2s linear 0.2s
	&.is-active
		display: inline-block
	&:hover
		opacity: 0.8
		transition: all 0.2s linear 0.2s

.wash-map
	margin: 0 -30px
	height: 370px
	overflow: hidden

.wash-contacts
	.wash-contacts-item
		margin-top: 30px
		&:first-child
			margin-top: 0
		.wash-contacts-meta
			color: $blue3
			font-size: 20px
			+light
			.small
				font-size: 16px
		.wash-contacts-detail
			color: $gray
			+osl

.wash-option
	.wash-option-meta
		margin-bottom: 20px
		font-size: 16px
		color: $gray 
		+osl
	.wash-option-label
		margin-bottom: 30px
		font-size: 0
	.wash-option-note
		.wash-option-note-title
			color: $blue3
			font-size: 20px 
		.wash-option-meta
			+osl
			color: $gray

.wash-plan
	.wash-plan-topper
		margin-bottom: 25px
	.wash-plan-title
		margin-bottom: 5px
		+normal
		font-size: 24px
		color: $blue3 
	.wash-plan-meta
		color: $gray
		+osl 
	.wash-plan-price
		margin-bottom: 30px
		font-size: 36px
		color: $blue2
		+light
		.price
			+s($s-rub)
			display: inline-block
		.summ
			font-size: 48px
		.meta
			font-size: 24px
	.wash-plan-item
		color: $gray
		+osl 
		.infinite
			margin-right: 10px
			font-size: 40px
			+os
		.num
			margin-right: 10px
			font-size: 24px
		span
			display: inline-block
			vertical-align: middle
	.wash-plan-btn
		margin-top: 20px
		display: inline-block
		padding: 15px 40px
		border: 2px solid #8ad6e1
		border-radius: 3px
		color: $blue2
		color: $blue2
		+osl
		text-align: center
		transition: all 0.2s linear 0.2s
		&:hover
			color: #FFF
			background: $blue2
			border-color: $blue2
			transition: all 0.2s linear 0.2s

.wash-pass
	.wash-pass-title
		margin-bottom: 25px
		color: $gray
		font-size: 16px
		+osl 
	.wash-pass-btn
		margin-top: 54px
		display: block
		padding: 15px
		border: 2px solid #8ad6e1
		border-radius: 3px
		color: #8ad6e1
		transition: all 0.2s linear 0.2s
		&:hover
			color: #FFF
			background: $blue2
			border-color: $blue2
			transition: all 0.2s linear 0.2s

.wash-input
	display: block
	width: 100%
	height: 52px
	line-height: 32px
	padding: 10px
	margin-top: 2px
	background: #F5F7F8
	outline: none
	border: 0
	border-radius: 5px
	box-sizing: border-box
	text-align: center
	color: #9FA3A4
	+osl
	+placeholder
		color: #9FA3A4
		+osl
	&:focus
		+placeholder
			color: transparent 

.label
	height: 56px
	line-height: 56px
	padding: 0 20px
	display: inline-block
	background: #F5F7F8
	border-radius: 5px
	margin-left: 1px
	margin-bottom: 1px
	cursor: pointer
	.ico
		margin-right: 10px
		display: inline-block
		vertical-align: middle
	.label-descr
		display: inline-block
		vertical-align: middle
		font-size: 15px
		+osl
		color: $gray 

.ch-wrap
	.ch-col
		width: 49%
		display: inline-block
		vertical-align: top
		font-size: 0
	.ch-row
		margin-bottom: 10px
		font-size: 15px
		text-align: left
	.ch-title
		margin-top: 30px
		margin-bottom: 20px
		font-size: 16px
		+osl
		color: #9fa3a4 
		text-align: center

.place-card
	display: none
.login-control
	display: none
	

// checkbox
// --------------------------------------------------
.checkbox
	position: relative
	cursor: pointer
	+nosel
	font-size: 15px
	+osl
	color: #9fa3a4 
	span
		padding-left: 27px
		font-size: 14px
	input
		opacity: 0
		position: absolute
		left: 0
		top: 0
	input + span
		.checkbox-ico
			position: absolute
			top: 0px
			left: 0px
			+s($s-ch)
	input:checked + span
		.checkbox-ico
			+s($s-ch-a)

.wash-map
	overflow: hidden
#map-mini
	width: 100%
	height: 112% 
	border-radius: 0 5px 0 0
//	MEDIA
// ===============================================
// +rmin(1500)
// 	.order
// 		&.m-archive
			// .order-item-car
			// 	width: 330px
			// .order-item-info
			// 	.order-item-info-tel
			// 		.order-item-info-tel-descr
			// 			&.m-elipsis
			// 				width: 330px

+rmin(1600)
	.tarif
		.tarif-bottom
			padding: 33px 55px 
+r(650)
	.popup
		width: 94%