//
// ===============================================

//	ORDER
// ===============================================
.order
	display: table
	width: 100%
	.order-item
		// display: table-row
		display: table
		width: 100%
		height: 106px
		border-radius: 5px
		margin-top: 2px
		background: #fff
		&:first-child
			margin-top: 0
	.order-item
		& > div
			display: table-cell
			vertical-align: middle
	.order-item-date
		width: 52px
		padding: 0 10px
		background: $blue2
		border-radius: 5px 0 0 5px
		color: #fff
		line-height: 1.2
		text-align: center
		.order-item-date-num
			font-size: 24px
			+light
		.order-item-date-mount
			font-size: 12px
			+light
	.order-item-time
		height: 106px 
		background: url("../img/time-bg.png")
		+cover
		color: $blue2
		text-align: center
		.order-item-time-time
			font-size: 24px
		.order-item-time-note
			font-size: 12px
	.order-item-car
		border-right: 2px solid #eff2f3
		padding: 0 30px
		.order-item-car-item
			.order-item-car-model
				font-size: 24px
				color: $blue3
				+bold
			.order-item-car-type
				font-size: 24px
				color: $blue3
				+light
		.order-item-car-owner
			.order-item-car-owner-name
				display: inline-block
				vertical-align: middle
				margin-right: 10px
				font-size: 15px
				color: $gray 
	.order-item-box
		border-right: 2px solid #eff2f3
		padding: 0 25px
		.order-item-box-number
			font-size: 24px
			color: $blue3
			+bold
		.order-item-box-title
			+osl
			color: $gray 
	.order-item-info
		padding: 0 30px
		+clr
		.order-item-info-left
			float: left
		.order-item-info-right
			height: 46px
			line-height: 46px
			float: right
			.ico
				cursor: pointer
				margin-left: 30px
				transition: opacity 0.2s linear 0.2s
				&:first-child
					margin-left: 0
				&:hover
					transition: opacity 0.2s linear 0.2s
					opacity: 0.6
		.order-item-info-tel
			color: $blue3
			+light
			.order-item-info-tel-number
				font-size: 24px
				.small
					font-size: 18px
			.order-item-info-tel-descr
				font-size: 15px  
				color: #A0A4A5
				+osl
	.order-item-close
		padding: 0 15px
		+g(#eef1f1, #f5f7f7)
		text-align: center
		cursor: pointer
		&:hover
			+g(#eef1f1, #eef1f1)
	.order-item-succes
		padding: 0 15px
		+g(#1099b5, #15adc4)
		text-align: center
		border-radius: 0 5px 5px 0
		cursor: pointer
		&:hover
			+g(#1098b5, #1098b5)
.star 
	.star-active, .star-unnactive
		display: inline-block
		vertical-align: middle
		margin-left: 5px
		cursor: pointer
		&:first-child
			margin-left: 0
	.star-active
		+s($s-star-active)
	.star-unnactive
		+s($s-star-unnactive)

.js-set-height
	overflow: hidden