//ico
.ico
	display: inline-block
	vertical-align: middle
%ico
	display: inline-block
	vertical-align: middle

.i-set
	+s($s-set)
.i-exit		
	+s($s-exit)
.i-coffee
	+s($s-coffee)
	@extend %ico
.i-coffee-bl 
	+s($s-coffee-bl) 
	@extend %ico
.i-wifi
	+s($s-wifi)
	@extend %ico
.i-wifi-bl
	+s($s-wifi-bl)
	@extend %ico
.i-card
	+s($s-card)
	@extend %ico
.i-card-bl
	+s($s-card-bl)
	@extend %ico
.i-close
	+s($s-close)
	@extend %ico
.i-ok
	+s($s-ok)
	@extend %ico

.i-basket
	+s($s-basket)
	@extend %ico
.i-sofa
	+s($s-sofa)
	@extend %ico
.i-gas-station
	+s($s-gas-station)
	@extend %ico
.i-settings
	+s($s-settings)
	@extend %ico

