- var titleMod = { title: 'archive 0_5' };
- var session = { locale: '' }

doctype html

html
	include includes/head.jade 
	body
		.header
			.topper
				.topper-in
					a(href="#").logo
						|wash me
					ul.nav
						li.nav-item 
							a(href="#").nav-link
								span.nav-label
									|8
								span.nav-text
									|осталось
						li.nav-item
							a(href="#").nav-link
								i.ico.i-set
								span.nav-text
									|моя мойка
						li.nav-item
							a(href="#").nav-link
								i.ico.i-exit
								span.nav-text
									|выйти
			.top.m-left
				.top-in
					ul.status-list
						li.status-list-item
							a(href="#").status-list-link
								span.status-list-link-descr Принятых заказов
								span.status-list-link-num 143
						li.status-list-item
							a(href="#").status-list-link
								span.status-list-link-descr Выполнено
								span.status-list-link-num 135
						li.status-list-item
							a(href="#").status-list-link
								span.status-list-link-descr Текущих
								span.status-list-link-num 3
						li.status-list-item
							a(href="#").status-list-link
								span.status-list-link-descr Текущих
								span.status-list-link-num 3
					ul.top-list
						li.top-list-item
							a(href="#").top-link
								span.top-link-note Отменено 
								span.top-link-num 5
						li.top-list-item
							a(href="#").top-link
								span.top-link-note Текущие заказы
								span.top-link-num 6
						li.top-list-item
							a(href="#").top-link.is-sexy
								span.top-link-note Журнал
		.page.js-set-height.js-scroll
			.page-in
				ul.order.m-archive
					li.order-item
						.order-item-date
							.order-item-date-num 26
							.order-item-date-mount сен
						.order-item-time.m-interval
							.order-item-time-item
								.order-item-time-time 22 : 30
								.order-item-time-note начало
							.order-item-time-item
								.order-item-time-time 22 : 30
								.order-item-time-note конец
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Jaguar 
								span.order-item-car-type XKR
								.order-add
									i.order-add-ico
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-box
							.order-item-box-number e 007 кх 777
							.order-item-box-title Бокс 3
						.order-item-tel
							.order-item-tel-number
								span.small +7 (916) 
								| 800 60 99
							.order-item-tel-descr Телефон
						.order-item-info
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number 
										span.order-item-info-tel-meta Отзыв клиента
										span.star
											i.star-active
											i.star-active
											i.star-active
											i.star-active
											i.star-unnactive
											i.star-select
									.order-item-info-tel-descr.m-elipsis Качество мойки – отличное, но Wi-Fi бы не поме ...
						.order-item-succes
							i.i-ok
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
