- var titleMod = { title: 'demo page title' };
- var session = { locale: 'head-mod' }

doctype html

html
	include includes/head.jade
	body
		.out
			| DEMO Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam itaque delectus ipsa dolore provident consequuntur eaque exercitationem quod, accusantium pariatur eius illum animi odit placeat ab vero sunt, in porro.
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
