- var titleMod = { title: 'new orders 0_1' };
- var session = { locale: '' }

doctype html

html
	include includes/head.jade 
	body
		.header
			.topper
				.topper-in
					a(href="#").logo
						|wash me
					ul.nav
						li.nav-item 
							a(href="#").nav-link
								span.nav-label
									|8
								span.nav-text
									|осталось
						li.nav-item
							a(href="#").nav-link
								i.ico.i-set
								span.nav-text
									|моя мойка
						li.nav-item
							a(href="#").nav-link
								i.ico.i-exit
								span.nav-text
									|выйти
			.top.m-right
				.top-in
					.top-status Текущих заказов 6
					ul.top-list
						li.top-list-item
							a(href="#").top-link.is-sexy
								span.top-link-note Новые заказы
								span.top-link-num 8
						li.top-list-item
							a(href="#").top-link
								span.top-link-note Текущие заказы
								span.top-link-num 6
						li.top-list-item
							a(href="#").top-link
								span.top-link-note Журнал
		.page.js-set-height.js-scroll
			.page-in
				ul.order.m-new
					li.order-item.fadeInLeft.animated.s1-5
						.order-item-date
							.order-item-date-num 26
							.order-item-date-mount сен
						.order-item-time
							.order-item-time-time 22 : 30
							.order-item-time-note начало
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Jaguar 
								span.order-item-car-type XKR
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-info.m-status
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number Избранный
									.order-item-info-tel-descr заказ
							.order-item-info-right
								i.i-coffee.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-wifi.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-card.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
						.order-item-close
							i.i-close
						.order-item-succes
							i.i-ok
					li.order-item.fadeInLeft.animated.s2
						.order-item-date
							.order-item-date-num 26
							.order-item-date-mount сен
						.order-item-time
							.order-item-time-time 22 : 00
							.order-item-time-note начало 
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Mercedes-Benz 
								span.order-item-car-type AMG GT I
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-info.m-status
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number Общий
									.order-item-info-tel-descr конкурс
							.order-item-info-right
								i.i-basket.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-sofa.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
						.order-item-close
							i.i-close
						.order-item-succes
							i.i-ok
					li.order-item.fadeInLeft.animated
						.order-item-date
							.order-item-date-num 25
							.order-item-date-mount сен
						.order-item-time
							.order-item-time-time 13 : 30
							.order-item-time-note начало
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Volkswagen 
								span.order-item-car-type Passat CC
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-info.m-status
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number Общий
									.order-item-info-tel-descr конкурс
							.order-item-info-right
								i.i-settings.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-gas-station.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-card.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
						.order-item-close
							i.i-close
						.order-item-succes
							i.i-ok
					li.order-item.fadeInLeft.animated.s1-5
						.order-item-date
							.order-item-date-num 25
							.order-item-date-mount сен
						.order-item-time
							.order-item-time-time 18 : 00
							.order-item-time-note начало
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Lamborghini 
								span.order-item-car-type Aventador
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-info.m-status
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number Избранный
									.order-item-info-tel-descr заказ
							.order-item-info-right
								i.i-coffee.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-wifi.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-basket.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-sofa.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-gas-station.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
						.order-item-close
							i.i-close
						.order-item-succes
							i.i-ok
					li.order-item.fadeInLeft.animated.s1-5
						.order-item-date
							.order-item-date-num 19
							.order-item-date-mount сен
						.order-item-time
							.order-item-time-time 10 : 30
							.order-item-time-note начало
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Porsche
								span.order-item-car-type Panamera
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-info.m-status
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number Избранный
									.order-item-info-tel-descr заказ
							.order-item-info-right
								i.i-sofa.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
						.order-item-close
							i.i-close
						.order-item-succes
							i.i-ok
					li.order-item.fadeInLeft.animated.s2
						.order-item-date
							.order-item-date-num 19
							.order-item-date-mount сен
						.order-item-time
							.order-item-time-time 09 : 30
							.order-item-time-note начало
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Lexus
								span.order-item-car-type IS
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-info.m-status
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number Общий
									.order-item-info-tel-descr конкурс
							.order-item-info-right
								i.i-coffee.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-gas-station.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-wifi.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-card.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
						.order-item-close
							i.i-close
						.order-item-succes
							i.i-ok
					li.order-item.fadeInLeft.animated.s1-5
						.order-item-date
							.order-item-date-num 26
							.order-item-date-mount сен
						.order-item-time
							.order-item-time-time 22 : 30
							.order-item-time-note начало
						.order-item-car
							.order-item-car-item
								span.order-item-car-model Jaguar 
								span.order-item-car-type XKR
							.order-item-car-owner 
								span.order-item-car-owner-name Обама Барак
								span.star
									i.star-active
									i.star-active
									i.star-active
									i.star-active
									i.star-unnactive
						.order-item-info.m-status
							.order-item-info-left
								.order-item-info-tel
									.order-item-info-tel-number Избранный
									.order-item-info-tel-descr заказ
							.order-item-info-right
								i.i-coffee.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-wifi.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
								i.i-card.ico.js-tooltipster-hover(title="<i class='i-coffee-bl ico'></i><i class='i-wifi-bl ico'></i><i class='i-card-bl ico'></i>")
						.order-item-close
							i.i-close
						.order-item-succes
							i.i-ok
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
