- var titleMod = { title: 'tarif_plan 0_7' };
- var session = { locale: '' }

doctype html

html
	include includes/head.jade 
	body
		.header
			.topper
				.topper-in
					a(href="#").logo
						|wash me
					ul.nav
						li.nav-item 
							a(href="#").nav-link
								span.nav-label
									|8
								span.nav-text
									|осталось
						li.nav-item
							a(href="#").nav-link
								i.ico.i-set
								span.nav-text
									|моя мойка
						li.nav-item
							a(href="#").nav-link
								i.ico.i-exit
								span.nav-text
									|выйти
		.page.page-mod
			.page-in
				ul.tarif
					li.tarif-item
						.tarif-title Бесплатный
						.tarif-meta Самый популярный
						.tarif-price
							.tarif-price-summ 0 Р
							.tarif-price-meta в месяц
						.tarif-info
							.tarif-info-item 
								span.sumbol.m-infinite ∞
								span прямых заказов
							.tarif-info-item 
								span.sumbol.m-num 5
								span дополнительных заказов
						.tarif-bottom
							a.tarif-btn(href="#") Ваш текущий план
					li.tarif-item
						|  2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, libero repellendus. Repellat, maxime consequuntur neque laborum nostrum quidem nisi maiores voluptatibus nihil. Nisi quaerat velit animi dolorum qui, dignissimos ipsa sit id dolorem unde inventore ab, debitis amet esse expedita non exercitationem libero illo eaque quasi laborum! Doloribus repellendus nihil voluptatibus hic aspernatur voluptatum voluptates quo, voluptate velit, labore sequi. Qui nemo, deserunt cupiditate. Cumque corporis, aspernatur ab, officia assumenda saepe facilis dicta, asperiores ut reiciendis consequatur repellat tempore ullam magnam eius quas aliquid quos aliquam eum. Numquam minima aliquid, rem, accusamus cum praesentium sapiente blanditiis, reprehenderit officia libero quo.
					li.tarif-item
						|  3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur laudantium, assumenda, cum nihil optio iusto porro natus inventore provident ullam nobis laborum illo quae quas quis nisi, veritatis labore, eveniet velit. Harum magnam sunt vel saepe voluptates rem totam quasi quae quod culpa. Deserunt laborum deleniti quia asperiores sed iure eaque natus adipisci necessitatibus quasi cupiditate voluptatum amet error alias labore magni ab nostrum officiis placeat quae, animi, doloremque ratione consequuntur. Magnam quibusdam tenetur maiores, officia. Nam dolor ducimus, itaque quasi veritatis soluta, aliquid optio, quo natus quibusdam nobis. Suscipit ab, officiis pariatur? A, voluptatem consequatur recusandae maxime at.
					li.tarif-item
						|  4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero amet exercitationem, distinctio nostrum nihil fugit placeat temporibus, suscipit sit? Vitae deleniti vel odit esse laborum et modi beatae quam, doloremque iste eligendi, porro pariatur corrupti quisquam voluptates nostrum consequatur dolorum, commodi quibusdam illo, voluptate totam sunt nisi. Veritatis officiis repellat veniam, nostrum dolorum laborum temporibus accusantium, nemo exercitationem voluptatem, dolorem similique facilis natus. Optio voluptas fuga asperiores, et cupiditate ad beatae iusto veniam! Expedita iure tempore dicta asperiores. Doloremque expedita repellendus dolores nostrum illum animi accusamus ullam, eaque fugit iusto debitis ad tenetur quisquam, laudantium cumque suscipit neque, quae excepturi.
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
