- var titleMod = { title: 'my_wash 0_6' };
- var session = { locale: '' }

doctype html

html
	include includes/head.jade 
	body
		.header
			.topper
				.topper-in
					a(href="#").logo
						|wash me
					ul.nav
						li.nav-item 
							a(href="#").nav-link
								span.nav-label
									|8
								span.nav-text
									|осталось
						li.nav-item
							a(href="#").nav-link
								i.ico.i-set
								span.nav-text
									|моя мойка
						li.nav-item
							a(href="#").nav-link
								i.ico.i-exit
								span.nav-text
									|выйти
		.page.page-mod
			.page-in
				.grid
					.grid-row
						.grid-cell
							.grid-content
								.grid-content-in
									.wash
										a.wash-logo(href="#" style="background-image: url(img/logo-car.png);")
										.wash-my
											.wash-my-title AVTOSPA
											.wash-stars
												span.star
													i.star-active
													i.star-active
													i.star-active
													i.star-active
													i.star-unnactive
													i.star-summ 26
											a(href="#").wash-my-red Редактировать
										.wash-red(style="display: none;")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque praesentium impedit, quaerat veniam? Hic aspernatur fugiat dignissimos nemo, ullam nam eveniet odit vel. Reprehenderit itaque, placeat eveniet illum laboriosam quod!
						.grid-cell
							.grid-content
								.grid-content-in
									.wash-contacts
										.wash-contacts-item
											.wash-contacts-meta Ул. Шверника 19
											.wash-contacts-detail адрес
										.wash-contacts-item
											.wash-contacts-meta support@avtospa.ru
											.wash-contacts-detail e-mail
										.wash-contacts-item
											.wash-contacts-meta
												span.small +7 (916) 
												span 800 60 99
											.wash-contacts-detail телефон
										.wash-contacts-item
											.wash-contacts-meta 07 : 00 – 01 : 00
											.wash-contacts-detail часы работы
						.grid-cell
							.grid-content
								.grid-content-in
									.wash-map
										iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2245.3065974063193!2d37.59397699999999!3d55.753175999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a4c82437f3f%3A0xab9c36caeb040d52!2z0YPQuy4g0J3QvtCy0YvQuSDQkNGA0LHQsNGCLCAxMCwg0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8sIDExOTAxOQ!5e0!3m2!1sru!2sua!4v1415857361329', width='100%', height='100%', frameborder='0', style='border: 0;')
					.grid-row
						.grid-cell
							.grid-content
								.grid-content-in
									.wash-option
										.wash-option-meta Дополнительные опции
										.wash-option-label
											.label
												i.i-card.ico
												.label-descr Оплата картой
											.label
												i.i-wifi.ico
												.label-descr Wi-Fi
											.label
												i.i-coffee.ico
												.label-descr Кафе
											.label
												i.i-sofa.ico
												.label-descr Комната отдыха
											.label
												i.i-settings.ico
												.label-descr Шиномонтаж
										.wash-option-note
											.wash-option-note-title Ручная, Самообслуживание
											.wash-option-meta тип мойки
						.grid-cell
							.grid-content
								.grid-content-in
									.wash-plan
										.wash-plan-topper
											.wash-plan-title Стандарт
											.wash-plan-meta осталось 10 дней
										.wash-plan-price
											span.summ 1000 
											span.price
											span.meta / мес
										.wash-plan-item
											span.infinite ∞
											span прямых заказов
										.wash-plan-item
											span.num 25
											span дополнительных заказов
										a.wash-plan-btn(href="#") Изменить тарифный план
						.grid-cell
							.grid-content
								.grid-content-in
									.wash-pass
										.wash-pass-title Изменить пароль
										input.wash-pass-input(type="text" placeholder="Старый пароль")
										input.wash-pass-input(type="text" placeholder="Новый пароль")
										input.wash-pass-input(type="text" placeholder="Подтвердите")
										a(href="#").wash-pass-btn Изменить пароль
										
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
