- var titleMod = { title: 'my_wash 0_6' };
- var session = { locale: '' }

doctype html

html.fullheight
	include includes/head.jade 
	body
		.animsition
			.header
				.topper
					.topper-in
						a(href="current_orders.html").logo.animsition-link
							|wash me
						ul.nav
							li.nav-item 
								a(href="#").nav-link
									span.nav-label
										|8
									span.nav-text
										|осталось
							li.nav-item
								span.nav-link.m-settings.is-active
									i.ico.i-set
									span.nav-text
										|моя мойка
							li.nav-item
								a(href="#").nav-link
									i.ico.i-exit
									span.nav-text
										|выйти
			.page.page-mod
				.page-in
					.grid
						.grid-row.m-first
							.grid-cell
								.grid-content
									.grid-content-in
										.wash
											a.wash-logo(href="#" style="background-image: url(img/logo-car.png);")
											.wash-my
												.wash-my-title AVTOSPA
												.wash-stars
													span.star
														i.star-active
														i.star-active
														i.star-active
														i.star-active
														i.star-unnactive 
														i.star-summ 26
											a.wash-red(href="#") Изменить лого 
											a(href="#").wash-my-red.js-send-red Редактировать
											a(href="#").wash-my-save.js-send-save Сохранить
							.grid-cell
								.grid-content
									.grid-content-in
										.wash-contacts
											.wash-contacts-info(style="display: block;")
												.wash-contacts-item
													.wash-contacts-meta Ул. Шверника 19
													.wash-contacts-detail адрес
												.wash-contacts-item
													.wash-contacts-meta support@avtospa.ru
													.wash-contacts-detail e-mail
												.wash-contacts-item
													.wash-contacts-meta
														span.small +7 (916) 
														span 800 60 99
													.wash-contacts-detail телефон
												.wash-contacts-item
													.wash-contacts-meta 07 : 00 – 01 : 00
													.wash-contacts-detail часы работы
											.wash-contacts-red(style="display: none;")
												input.wash-input(type="text" placeholder="Адрес")
												input.wash-input(type="text" placeholder="E-mail")
												input.wash-input(type="text" placeholder="Телефон")
												input.wash-input(type="text" placeholder="Часы работы")
							.grid-cell
								.grid-content
									.grid-content-in
										.wash-map
											#map-mini
						.grid-row.m-last
							.grid-cell
								.grid-content
									.grid-content-in
										.wash-option
											.wash-option-meta Дополнительные опции
											.wash-option-active(style="display: block;")
												.wash-option-label
													.label
														i.i-card.ico
														.label-descr Оплата картой
													.label
														i.i-wifi.ico
														.label-descr Wi-Fi
													.label
														i.i-coffee.ico
														.label-descr Кафе
													.label
														i.i-sofa.ico
														.label-descr Комната отдыха
													.label
														i.i-settings.ico
														.label-descr Шиномонтаж
												.wash-option-note
													.wash-option-note-title Ручная, Самообслуживание
													.wash-option-meta тип мойки
											.wash-option-readme(style="display: none;")
												.ch-wrap
													.ch-col
														.ch-row
															label.checkbox
																input(type='checkbox', value='', checked)
																span
																	| Оплата картой
																	i.checkbox-ico
														.ch-row
															label.checkbox
																input(type='checkbox', value='', checked)
																span
																	| Кафе
																	i.checkbox-ico
														.ch-row
															label.checkbox
																input(type='checkbox', value='', checked)
																span
																	| Wi-fi
																	i.checkbox-ico
														.ch-row
															label.checkbox
																input(type='checkbox', value='')
																span
																	| Комната отдыха
																	i.checkbox-ico
													.ch-col
														.ch-row
															label.checkbox
																input(type='checkbox', value='')
																span
																	| Шиномонтаж
																	i.checkbox-ico
														.ch-row
															label.checkbox
																input(type='checkbox', value='', checked)
																span
																	| Магазин
																	i.checkbox-ico
														.ch-row
															label.checkbox
																input(type='checkbox', value='')
																span
																	| Заправка
																	i.checkbox-ico 
												.ch-wrap
													.ch-title Тип мойки
													.ch-col
														.ch-row
															label.checkbox
																input(type='checkbox', value='', checked)
																span
																	| Ручная
																	i.checkbox-ico
														.ch-row
															label.checkbox
																input(type='checkbox', value='', checked)
																span
																	| Самообслуживание
																	i.checkbox-ico 
													.ch-col
														.ch-row
															label.checkbox
																input(type='checkbox', value='')
																span
																	| Мобильная
																	i.checkbox-ico
														.ch-row
															label.checkbox
																input(type='checkbox', value='')
																span
																	| Автоматическая
																	i.checkbox-ico 
							.grid-cell
								.grid-content
									.grid-content-in
										.wash-plan
											.wash-plan-topper
												.wash-plan-title Стандарт
												.wash-plan-meta осталось 10 дней
											.wash-plan-price
												span.summ 1000 
												span.price
												span.meta / мес
											.wash-plan-item
												span.infinite ∞
												span прямых заказов
											.wash-plan-item
												span.num 25
												span дополнительных заказов
											a(href="tarif.html", data-animsition-out='rotate-out', data-animsition-out-duration='500').animsition-link.wash-plan-btn Изменить тарифный план
							.grid-cell
								.grid-content
									.grid-content-in
										.wash-pass.wash-pass-support(style='display: block;')
											.wash-pass-title Поддержка
											textarea.wash-pass-textarea.textarea
											.wash-pass-row.m-form
												.wash-pass-left
													a.wash-pass-btn(href='#') Отправить
												.wash-pass-right
													label.file
														input.wash-input(type='file')
														.file-note Прикрепить файл
											.wash-pass-row
												.wash-pass-left
													.wash-pass-note +7 (495) 556 3745
													.wash-pass-meta телефон
												.wash-pass-right
													.wash-pass-note support@washnroll.ru
													.wash-pass-meta e-mail
										.wash-pass.wash-pass-box(style='display: none;')
											.wash-pass-title Изменить пароль
											input.wash-input(type='text', placeholder='Старый пароль')
											input.wash-input(type='text', placeholder='Новый пароль')
											input.wash-input(type='text', placeholder='Подтвердите')
											a.wash-pass-btn(href='#') Изменить пароль
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
