- var titleMod = { title: 'my_wash 0_6' };
- var session = { locale: '' }

doctype html

html
	include includes/head.jade 
	body
		.header
			.topper
				.topper-in
					a(href="#").logo
						|wash me
					ul.nav
						li.nav-item 
							a(href="#").nav-link
								span.nav-label
									|8
								span.nav-text
									|осталось
						li.nav-item
							a(href="#").nav-link
								i.ico.i-set
								span.nav-text
									|моя мойка
						li.nav-item
							a(href="#").nav-link
								i.ico.i-exit
								span.nav-text
									|выйти
		.page.page-mod
			.page-in
				|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aliquam minima provident nam sequi expedita sit obcaecati, fugit eos deserunt culpa, explicabo cumque reiciendis esse debitis necessitatibus dignissimos facere alias!
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
